@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
}
.list-yellow-disc {
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
}

.list-yellow-disc::before {
  content: "•";
  color: #d45027;
  position: absolute;
  left: 0;
}
